@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FlowserveFCO</title>
    @Styles.Render("~/Content/kendo/2014.2.716/kendo.common.min.css")
    @Styles.Render("~/Content/kendo/2014.2.716/kendo.default.min.css")
    @Styles.Render("~/Content/kendo/2014.2.716/kendo.dataviz.min.css")
    @Styles.Render("~/Content/kendo/2014.2.716/kendo.dataviz.default.min.css")
    @Styles.Render("~/Content/css")
</head>
<body>  

    <div>
        <div class="criteria">
            <span>Criteria:</span><br />
            <span>Customer Bookings only - No Intercompany</span><br />
            <span>US Dollars based on current month exchange rate</span><br />
            <span>Must be Month to Date (MTD) Actual number in whole dollars</span><br />
        </div>
        <div class="filters">
            <span>Week:</span>
            <select class="WeekDate">
                <option value="0">-- select --</option>
            </select>
        </div>
        <div id="grid" style="width: auto"></div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/kendo/2014.2.716/kendo.all.min.js")
    @Scripts.Render("~/Scripts/flowersve-FCO.js")
</body>
</html>
